
@import 'https://fonts.googleapis.com/css?family=Open+Sans:300,400|Slabo+27px|Ubuntu|Ubuntu+Condensed';

$ubuntu           : 'Ubuntu', sans-serif;
$ubuntu-condensed : 'Ubuntu Condensed', sans-serif;
$slabo            : 'Slabo 27px', serif;
$open             :'Open Sans', sans-serif;

$headings: h1,h2,h3,h4,h5;
